@inherits LayoutComponentBase

<FTTBlazor.Client.Components.Toast.Toast />

<div class="layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <div class="drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="drawer-header">
            <div class="avatar-dropdown">

            </div>
        </header>
        <NavMenu />
    </div>

    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid content">
            @Body
        </div>
    </main>
</div>