@page "/crud"

@code {
#if DEBUG
    string endpoint = "https://localhost:44306/Pokemon";
#else
    string endpoint = "https://localhost:44306/Pokemon";
#endif

    public List<FTTBlazor.FTTGridColumn> cols = new List<FTTBlazor.FTTGridColumn>();

    protected override async Task OnParametersSetAsync()
    {
        cols.Add(new FTTBlazor.FTTGridColumn() { FieldName = "Id", FieldDescription = "Id" });
        cols.Add(new FTTBlazor.FTTGridColumn() { FieldName = "Name", FieldDescription = "Nome" });
    }
}

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-cell--12-col">
        <h1>CRUD</h1>
    </div>

    <div class="mdl-cell--12-col">
        <h4>Example</h4>
        <h6>Below is an example of how to use the series of components described in a simple CRUD application communicating with an API Rest.</h6>
    </div>

    <div style="height: 30rem; margin-bottom: -5rem;">

        <FTTCrud Interface="Common.PokeAPI.PokemonDTO" Columns="cols" Endpoint="@endpoint" Title="Pokemons">
            <ModalContent>
                <FTTInput Label="Nome" @bind-Value="@context.Name" Size="12"></FTTInput>
            </ModalContent>
        </FTTCrud>

    </div>

    <div class="mdl-cell--12-col">
        <h4>FTTEntity</h4>
        <h6>Interface precisa herdar desse objeto</h6>
        <h6>The interface must implement FTTEntity object</h6>
        <img src="../img/about/crud2.png" />
    </div>

    <div class="mdl-cell--12-col">
        <h4>Example</h4>
        <h6>How to show information obtained from an API</h6>
        <img src="../img/about/crud1.png" />
    </div>

    <div class="mdl-cell--12-col">
        <h4>In the code</h4>
        <h6>Below is an image of how to implement it in your system</h6>
        <img src="../img/about/crud.png" />
    </div>

    <div class="mdl-cell--12-col">
        <h4>Paggin on the server</h4>
        <h6>Apply the QueryString to capture the variables below</h6>
        <h6><span style="font-weight:bold;">pagesize:</span> Number of itens to show</h6>
        <h6><span style="font-weight:bold;">currentpage:</span> Current page</h6>
        <img src="../img/about/crud3.png" />
    </div>

    <div class="mdl-cell--12-col">
        <h4>Parametros do <span style="font-weight:bold;">FTTCrud</span></h4>
        <h6><span style="font-weight:bold;">ModalContent:</span> Modal content</h6>
        <h6><span style="font-weight:bold;">Filter:</span> Data filter</h6>
        <h6><span style="font-weight:bold;">OnBeforeAdd:</span> Call event after creating an item</h6>
        <h6><span style="font-weight:bold;">OnAddClick:</span> Call event before creating an item</h6>
        <h6><span style="font-weight:bold;">PageSize:</span> Number of itens to show</h6>
        <h6><span style="font-weight:bold;">Endpoint:</span> API endpoint</h6>
        <h6><span style="font-weight:bold;">Title:</span> Modal title</h6>
        <h6><span style="font-weight:bold;">CanCreate:</span> Permission to create an item</h6>
        <h6><span style="font-weight:bold;">CanDelete:</span> Permission to delete an item</h6>
        <h6><span style="font-weight:bold;">CanEdit:</span> Permission to update an item</h6>
        <h6><span style="font-weight:bold;">CanRead:</span> Permission to view an item</h6>
        <h6><span style="font-weight:bold;">Columns:</span> Columns to be displayed in the table</h6>
        <h6><span style="font-weight:bold;">Token:</span> Token to use as a parameter in the request</h6>
    </div>

</div>