@page "/dialog"

@code{
    bool dialogIsOpen { get; set; } = false;

}

<div class="mdl-color--white mdl-shadow--2dp  mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-cell--12-col">
        <h1>Dialog</h1>
    </div>

    <div class="mdl-cell--12-col">
        <h4>Example</h4>
        <h6>A popup dialog will open overlaying the page content when clicking the button. The dialog closes when clicking outside the popup</h6>
        <button type="button" class="ftt-blazor-button" @onclick="@(e => { dialogIsOpen = true; })">OPEN DIALOG</button>
    </div>

    <div class="mdl-cell--12-col">
        <h4>Example</h4>
        <h6>Boolean variable that open the dialog when <b>true</b> and closes it when <b>false</b></h6>
        <img src="../img/about/dialogUse.png" />
    </div>

    <div class="mdl-cell--12-col">
        <h4>In the code</h4>
        <h6>Below is an image of how to implement it in your system</h6>
        <img src="../img/about/dialog.png" />
    </div>

    <div class="mdl-cell--12-col">
        <h4><span style="font-weight:bold;">bind-IsOpen</span> attribute</h4>
        <h6>Here we create the variable that is passed as a parameter to open the dialog</h6>
        <img src="../img/about/dialogCode.png" />
    </div>
</div>

<FTTDialog IsOpened="@dialogIsOpen">
    <FTTDialogTitle>
        DialogTitle region
    </FTTDialogTitle>
    <FTTDialogContent>
        DialogContent region
        <hr />
    </FTTDialogContent>
    <FTTDialogActions>
        DialogActions region
    </FTTDialogActions>
</FTTDialog>