@page "/divider"

@code {
    string Texto { get; set; }
    string Color { get; set; }
    string Time { get; set; }

    bool dialogIsOpen { get; set; } = false;

    void OpenDialog()
    {
        dialogIsOpen = true;
    }
}

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-cell--12-col">
        <h1>FTTGridDivider</h1>
    </div>

    <div class="mdl-cell--12-col">
        <h4>Example</h4>
        <h6>How to use the component in view page</h6>
        <img src="../img/about/divider1.png" />
        <br />
    </div>

    <FTTGridDivider Iscollapsible="true" FTTFields="true" IsCollapsed="true" Title="Divider" AddButtonIsVisible="true" AddButtonOnClick="OpenDialog">
        <FTTInput BorderRight="true" Size="4" Label="Input" @bind-Value="Texto"></FTTInput>
        <FTTInput Type="InputType.Color" BorderRight="true" Size="4" Label="Color" @bind-Value="Color"></FTTInput>
        <FTTInput Type="InputType.Time" BorderRight="true" Size="4" Label="Time" @bind-Value="Time"></FTTInput>
    </FTTGridDivider>


    <div class="mdl-cell--12-col">
        <h4>In the code</h4>
        <h6>Below is an image of how to implement the component in your system</h6>
        <img src="../img/about/divider.png" />
    </div>

    <div class="mdl-cell--12-col">
        <h4><span style="font-weight:bold;">FTTGridDivider</span> attributes</h4>
        <h6><span style="font-weight:bold;">AddButtonIsVisible:</span> Enable button to add an item (customizable callback event)</h6>
        <h6><span style="font-weight:bold;">Title:</span> Header text</h6>
        <h6><span style="font-weight:bold;">AddButtonOnClick:</span> Add button callback event to add an item</h6>
        <h6><span style="font-weight:bold;">Iscollapsible:</span> Determines whether or not content visibility is optional</h6>
        <h6><span style="font-weight:bold;">IsCollapsed:</span> Determines default visibility of the content</h6>
        <h6><span style="font-weight:bold;">FTTFields:</span> Determines if there is data input to enable the grid</h6>
    </div>

</div>

<FTTDialog IsOpened="@dialogIsOpen">
    <FTTDialogTitle>
        DialogTitle region

        <div class="ftt-blazor-pull-right">
            <button type="button" @onclick="@(async () => { dialogIsOpen = false; })">X</button>
        </div>
    </FTTDialogTitle>
    <FTTDialogContent>
        DialogContent region
        <hr />
    </FTTDialogContent>
    <FTTDialogActions>
        DialogActions region

        <div class="ftt-blazor-pull-right">
            <button type="button" class="ftt-blazor-button" @onclick="@(async () => { dialogIsOpen = false; })">Cancelar</button>
        </div>
    </FTTDialogActions>
</FTTDialog>