﻿@namespace FTTBlazor

@if (!string.IsNullOrEmpty(_id))
{
    <div class="mdl-cell--@Size-col ftt-blazor-align-left">
        <div class="ftt-blazor-components ftt-blazor-input ftt-blazor-has-float-label">

            <input maxlength="@MaxLength" id="@_id" type="number" disabled="@_IsReadOnly" @attributes="@attributes" pattern="[0-9]" min="0" class=" @BorderRightCssClass @CssClass" value="@Value" @onchange="@(e=> { ValueChanged.InvokeAsync((int)e.Value); })" placeholder="0" autocomplete="@_id" />

            <label for="@_id">
                @_label
            </label>

            @if (!string.IsNullOrWhiteSpace(Icon) && !_IsReadOnly)
            {
                <button type="button" class="ftt-blazor-input-icon" @onclick="@(e => { IconClick.InvokeAsync(""); })">
                    <i class="material-icons">@Icon</i>
                </button>
            }

        </div>
    </div>
}