@page "/"

@code {

}

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <h2>Sobre</h2>
    </div>

    <h6>Nosso projeto tem o intuito apresentar a solução da Microsoft para o WebAssembly chamada Blazor!</h6>
    <h6>
        Alem disso temos a proposta de agilizar o desenvolvimento com Blazor casando o pardão REST e
        componentes criado por nós para desenvolvimento WEB usando o MaterialDesign como base.
    </h6>

    <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <h2>Orientador</h2>
    </div>
    
    <div class="mdl-cell--3-col">
    </div>
    <div class="mdl-cell--6-col">
        <img src="../img/savino.png" class="img-center" />
        <p class="text-center">Prof. Doutor Eduardo Savino Gomes</p>
    </div>    
    <div class="mdl-cell--3-col">
    </div>
    
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <h2>Membros</h2>
    </div>

    <div class="mdl-cell--6-col">
        <img src="../img/jho.png" class="img-center" />
        <p class="text-center">Responsável pelo Angular, 082170016</p>
    </div>
    <div class="mdl-cell--6-col">
        <img src="../img/paulo.png" class="img-center" />
        <p class="text-center">Responsável pelo teórica, 082170024</p>
    </div>
    <div class="mdl-cell--6-col">
        <img src="../img/thiago.png" class="img-center" />
        <p class="text-center">Responsável pela gerencia, 082170029</p>
    </div>
    <div class="mdl-cell--6-col">
        <img src="../img/luiz.png" class="img-center" />
        <p class="text-center">Responsável pelo Blazor, 082170039</p>
    </div>
</div>