﻿@namespace FTTBlazor
@typeparam T

<div class="mdl-cell--@Size-col ftt-blazor-align-left">
    @if (!string.IsNullOrEmpty(_id))
    {
        <div class="ftt-blazor-components ftt-blazor-input ftt-blazor-has-float-link ftt-blazor-has-float-label @BorderRightCssClass" style="min-height: 50%; padding-top: 1em; ">

            <a style="text-decoration: underline black; cursor:pointer;" class="ftt-blazor-link" id="@_id" @onclick="@(e => { DialogIsOpen = true; })">
                @LabelLink
            </a>

            <label for="@_id">
                @Title
            </label>

            @if (!string.IsNullOrWhiteSpace(Icon))
            {
                <button type="button" class="ftt-blazor-input-icon" @onclick="@(e => { DialogIsOpen = true; })">
                    <i class="material-icons">@Icon</i>
                </button>
            }
        </div>
    }
</div>

<FTTDialog IsOpened="@DialogIsOpen">
    <FTTDialogTitle>
        <div style="width:100%; border-bottom: 1px solid var(--brandline);">
            @Title
        </div>
    </FTTDialogTitle>
    <FTTDialogContent>
        <div style="width: 100%; border-bottom: 1px solid var(--brandline);">
            @Body
        </div>
    </FTTDialogContent>
    <FTTDialogActions>
        @Footer
    </FTTDialogActions>
</FTTDialog>
