@namespace FTTBlazor
@using Microsoft.AspNetCore.Components
@inherits BaseDomComponent

<h2 class="@ClassMapper.AsString()" style="@StyleMapper.AsString()" @ref="Ref"  @attributes="Attributes" Id="@Id">
    @ChildContent
</h2>

@code
{

    [Parameter]
    public  RenderFragment ChildContent { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        ClassMapper.Add("ftt-blazor-dialog__title");
    }

}