@page "/"

@code {

}

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <h2>About</h2>
    </div>

    <h6>Our project aims to present Microsoft's solution for SPA and PWA applications called Blazor</h6>
    <h6>
        In Addition, we have the proposal to speed up development in .NET environments by uniting the components 
            developed by us using MaterialDesign as the main style sheet with the REST architecture pattern
    </h6>

    <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <h2>Undergraduate thesis advisor</h2>
    </div>

    <div class="mdl-cell--3-col">
    </div>
    <div class="mdl-cell--6-col">
        <img src="../img/savino.png" class="img-center" />
        <p class="text-center">Prof. Doutor Eduardo Savino Gomes</p>
    </div>    
    <div class="mdl-cell--3-col">
    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <h2>Project developers</h2>
    </div>

    <div class="mdl-cell--6-col">
        <img src="../img/jho.png" class="img-center" />
        <p class="text-center">Responsible for Angular.js development, 082170016</p>
    </div>
    <div class="mdl-cell--6-col">
        <img src="../img/paulo.png" class="img-center" />
        <p class="text-center">Responsible for the scientific article, 082170024</p>
    </div>
    <div class="mdl-cell--6-col">
        <img src="../img/thiago.png" class="img-center" />
        <p class="text-center">Responsible for project management and scientific article, 082170029</p>
    </div>
    <div class="mdl-cell--6-col">
        <img src="../img/luiz.jpg" class="img-center" style="width: 11rem;"/>
        <p class="text-center">Responsible for Blazor WebAsembly development, 082170039</p>
    </div>
</div>