@page "/"
@namespace FTTBlazor.Client.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FTTBlazor</title>
    <base href="~/" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link href="~/css/site.css" rel="stylesheet" />

    <link href="~/css/fttBlazor.css" rel="stylesheet" />

    <link href="~/css/material/material-components-web.min.css" rel="stylesheet">
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <script src="_framework/blazor.server.js"></script>

    <script src="~/js/fttBlazor.js"></script>
</body>
</html>
