@page "/"


@code{
    public bool dialogIsOpen { get; set; } = false;

    public void shownotify()
    {
    }
}

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button @onclick="@(e => { dialogIsOpen = true; })">oi</button>

<FTTBlazorComponent.Dialog @bind-IsOpen="@dialogIsOpen">
    <FTTBlazorComponent.DialogTitle>Hi</FTTBlazorComponent.DialogTitle>
    <FTTBlazorComponent.DialogContent>
        <p>What's your favorite animal?</p>

        <button @onclick="shownotify">oi</button>
    </FTTBlazorComponent.DialogContent>
    <FTTBlazorComponent.DialogActions>

    </FTTBlazorComponent.DialogActions>
</FTTBlazorComponent.Dialog>