@page "/"

@code{
    public bool dialogIsOpen { get; set; } = false;

}

<div class="charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <img src="~/images/microsoft+blazor.png" />
    <h1>FTT Blazor</h1>
</div>

<div class="charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <p>Nosso projeto tem o intuito apresentar a solução da Microsoft para o WebAssembly chamada Blazor!</p>
    <p>
        Alem disso temos a proposta de agilizar o desenvolvimento com Blazor casando o pardão REST com
        componentes criado por nós para desenvolvimento WEB usando o MaterialDesign como base.
    </p>
</div>
