@namespace FTTBlazor

@code {
    [Parameter]
    public RenderFragment FTTDialogTitle { get; set; }

    [Parameter]
    public RenderFragment FTTDialogContent { get; set; }

    [Parameter]
    public RenderFragment FTTDialogActions { get; set; }

    [Parameter]
    public bool IsOpened
    {
        get { return _IsOpened; }
        set
        {
            _IsOpened = value;
            IsOpenedChanged.InvokeAsync(value);
        }
    }
    private bool _IsOpened { get; set; }
    [Parameter]
    public EventCallback<bool> IsOpenedChanged { get; set; }

    [Parameter]
    public string CssDialog { get; set; }

    [Parameter]
    public string CssContent { get; set; }

    string cssClassOpen => IsOpened ? "show" : "hide";
}

<div class="ftt-blazor @cssClassOpen @CssDialog" tabindex="-1" role="dialog">
    <div class="ftt-blazor-content @CssContent">
        <div class="ftt-blazor-header">
            @FTTDialogTitle
        </div>
        <div class="ftt-blazor-body">
            @FTTDialogContent
        </div>
        <div class="ftt-blazor-footer">
            @FTTDialogActions
        </div>
    </div>
</div>