@page "/button"

@using FTTBlazor.Components.Forms.Button;

@code{
}

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-cell--12-col">
        <h1>Button</h1>
    </div>

    <div class="mdl-cell--12-col">
        <h4>Exemplo</h4>
        <h6>Abaixo uma serie de opções para BUTTON e exemplos de como usar.</h6>
    </div>

    <FTTButton Size="4" Label="Botão"></FTTButton>

    <div class="mdl-cell--12-col">
        <h4>Usando</h4>
        <h6>Adicionando na pagina</h6>
        <img src="../img/about/button1.png" />
    </div>

    <div class="mdl-cell--12-col">
        <h4>Types</h4>
        <h6>Abaixo a imagem dos tipos de BUTTON disponiveis</h6>
        <img src="../img/about/button2.png" />
    </div>

    <div class="mdl-cell--12-col">
        <h4>Codigo usado</h4>
        <h6>Abaixo uma imagem de como implementar o componente no seu sistema</h6>
        <img src="../img/about/button.png" />
    </div>

    <div class="mdl-cell--12-col">
        <h4>Parametros do <span style="font-weight:bold;">FTTButton</span></h4>
        <h6><span style="font-weight:bold;">IsReadOnly:</span> Desabilita o componente</h6>
        <h6><span style="font-weight:bold;">Label:</span> Texto do label</h6>
        <h6><span style="font-weight:bold;">OnClick:</span> Aqui podemos adicionar a chamada de um metodo OnClick</h6>
        <h6><span style="font-weight:bold;">Size:</span> Tamanho do componente na tela</h6>
        <h6><span style="font-weight:bold;">Pattern:</span> Validações para o componente</h6>
        <h6><span style="font-weight:bold;">Type:</span> Definimos o tipo de BUTTON</h6>
    </div>

</div>