@page "/button"

@using FTTBlazor.Components.Forms.Button;

@code{
}

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-cell--12-col">
        <h1>Button</h1>
    </div>

    <div class="mdl-cell--12-col">
        <h4>Example</h4>
        <h6>Below is an example of how to implement the BUTTON component.</h6>
    </div>

    <FTTButton Size="4" Label="Button"></FTTButton>

    <div class="mdl-cell--12-col">
        <h4>Example</h4>
        <h6>How to use the component in view page</h6>
        <img src="../img/about/button1.png" />
    </div>

    <div class="mdl-cell--12-col">
        <h4>Types</h4>
        <h6>Below is an imagem of the available BUTTON types</h6>
        <img src="../img/about/button2.png" />
    </div>

    <div class="mdl-cell--12-col">
        <h4>In the code</h4>
        <h6>Below is an imagem of how to implement the BUTTON component in your sistem</h6>
        <img src="../img/about/button.png" />
    </div>

    <div class="mdl-cell--12-col">
        <h4><span style="font-weight:bold;">FTTButton</span> attributes</h4>
        <h6><span style="font-weight:bold;">IsReadOnly:</span> Disable the component</h6>
        <h6><span style="font-weight:bold;">Label:</span> Label text</h6>
        <h6><span style="font-weight:bold;">OnClick:</span> Add the onclick method call</h6>
        <h6><span style="font-weight:bold;">Size:</span> Component size</h6>
        <h6><span style="font-weight:bold;">Pattern:</span> Set of validations</h6>
        <h6><span style="font-weight:bold;">Type:</span> Defines the BUTTON type</h6>
    </div>

</div>