@page "/link"

@using FTTBlazor.Components.Forms.Link;

@code{
    FTTBlazor.Common.PokeAPI.PokemonDTO pokemon = new FTTBlazor.Common.PokeAPI.PokemonDTO()
    {
        Id = new Guid().ToString(),
        Name = "Squardle"
    };

}

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-cell--12-col">
        <h1>Link</h1>
    </div>

    <div class="mdl-cell--12-col">
        <h4>Example</h4>
        <h6>Below is an example of how to implement the LINK component.</h6>
    </div>

    <FTTLink BorderRight="true" Size="4" T="FTTBlazor.Common.PokeAPI.PokemonDTO" Icon="visibility"
             Title="Pokemon link" LabelLink="@pokemon.Name">
        <Body>
            <FTTBlazor.Models.LinkPage Item="pokemon"></FTTBlazor.Models.LinkPage>
        </Body>
        <Footer>
        </Footer>
    </FTTLink>

    <div class="mdl-cell--12-col">
        <h4>Example</h4>
        <h6>How to use the component in view page</h6>
        <img src="../img/about/link1.png" />
    </div>

    <div class="mdl-cell--12-col">
        <h4>In the code</h4>
        <h6>Below is an imagem of how to implement the component in your sistem</h6>
        <img src="../img/about/link.png" />
    </div>

    <div class="mdl-cell--12-col">
        <h4><span style="font-weight:bold;">FTTLink</span> attributes</h4>
        <h6><span style="font-weight:bold;">Body:</span> Add modal content</h6>
        <h6><span style="font-weight:bold;">RenderFragment:</span> Add modal footer content</h6>
        <h6><span style="font-weight:bold;">Title:</span> Set modal title and LINK label</h6>
        <h6><span style="font-weight:bold;">LabelLink:</span> Set the link name</h6>
        <h6><span style="font-weight:bold;">Size:</span> Component size in view page</h6>
        <h6><span style="font-weight:bold;">Icon:</span> LINK icon</h6>
        <h6><span style="font-weight:bold;">BorderRight:</span> Binds a value to a variable</h6>
    </div>

</div>
