@page "/toaster"

@inject FTTToastService toastService

@code {
}

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-cell--12-col">
        <h1>Toaster</h1>
    </div>

    <div class="mdl-cell--12-col">
        <h4>Example</h4>
        <h6>When clicking on any of the buttons below, a notification will open overlaying the page content</h6>
    </div>

    <div class="mdl-cell--3-col mdl-grid">
        <button class="ftt-blazor-button" @onclick="@(() => toastService.ShowToast("INFO message", FTTToastEnum.Info))">
            INFORMATION
        </button>
    </div>
    <div class="mdl-cell--3-col mdl-grid">
        <button class="ftt-blazor-button" @onclick="@(() => toastService.ShowToast("SUCCESS message", FTTToastEnum.Success))">
            SUCCESS
        </button>
    </div>
    <div class="mdl-cell--3-col mdl-grid">
        <button class="ftt-blazor-button" @onclick="@(() => toastService.ShowToast("WARNING message", FTTToastEnum.Warning))">
            WARNING
        </button>
    </div>
    <div class="mdl-cell--3-col mdl-grid">
        <button class="ftt-blazor-button" @onclick="@(() => toastService.ShowToast("ERROR message", FTTToastEnum.Error))">
            ERROR
        </button>
    </div>

    <div class="mdl-cell--12-col">
        <h4>Examples on how to use:</h4>
        <h6>Dependency injection on startup</h6>
        <img src="../img/about/toasterUse1.png" />
        <h6>Dependency injection on view</h6>
        <img src="../img/about/toasterUse2.png" />
    </div>

    <div class="mdl-cell--12-col">
        <h4>Codigo usado</h4>
        <h6>The following image is an example on how to implement the dialog component in your system</h6>
        <img src="../img/about/toaster.png" />
    </div>

    <div class="mdl-cell--12-col">
        <h4><span style="font-weight:bold;">ShowToast</span>Parameters</h4>
        <h6><span style="font-weight:bold;">Message:</span> Message that will be displayed when loading the Toast component</h6>
        <h6><span style="font-weight:bold;">ToastEnum:</span> Notification type. The accepted notification types are:
            <ul>
                <li>Info</li>
                <li>Success</li>
                <li>Warning</li>
                <li>Error</li>
            </ul>
        </h6>
    </div>
</div>
