@page "/dialog"

@code{
    bool dialogIsOpen { get; set; }
}

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" style="margin-top: -8px;">
    <img style="width: 30%;" src="../img/logoMicrosoft.png" />
    <h1 style="text-align: right;">FTT Blazor - Dialog</h1>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <h1>Sobre o componenete de Dialog</h1>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <button class="mdc-button" @onclick="@(e => { dialogIsOpen = true; })">ABRIR O DIALOG</button>
    </div>
</div>


<FTTBlazor.Dialog @bind-IsOpen="@dialogIsOpen">
    <FTTBlazor.DialogTitle>Hi</FTTBlazor.DialogTitle>
    <FTTBlazor.DialogContent>
        <p>What's your favorite animal?</p>
    </FTTBlazor.DialogContent>
    <FTTBlazor.DialogActions>
        <button class="mdc-button" @onclick="@(e => { dialogIsOpen = false; })"> FECHAR </button>
    </FTTBlazor.DialogActions>
</FTTBlazor.Dialog>
