<div class="ftt-blazor-toast @(IsVisible ? "ftt-blazor-toast-visible" : null) @BackgroundCssClass">
    <div class="ftt-blazor-toast-icon">
        <i class="material-icons" aria-hidden="true">
            @IconCssClass
        </i>
    </div>
    <div class="ftt-blazor-toast-body">
        <h6 style="margin: 0rem !important;">@Heading</h6>
        <span>@Message</span>
    </div>
</div>