<div class="toast @(IsVisible ? "toast-visible" : null) @BackgroundCssClass">
    <div class="toast-icon">
        <i class="material-icons" aria-hidden="true">
            @IconCssClass
        </i>
    </div>
    <div class="toast-body">
        <h6>@Heading</h6>
        <span>@Message</span>
    </div>
</div>