html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

body {
    height: 100%;
}

hi {
    text-align: center;
}

h1 h4 {
    color: var(--brandone);
    font-weight: bold;
}

h2 h6 {
    color: var(--brandone) !important;
}

p {
    color: var(--brandtext);
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
}

.mdl-layout__drawer .avatar {
    margin-bottom: 16px;
}

.drawer {
    border: none;
}
    /* iOS Safari specific workaround */
    .drawer .mdl-menu__container {
        z-index: -1;
    }

    .drawer .navigation {
        z-index: -2;
    }
    /* END iOS Safari specific workaround */
    .drawer .mdl-menu .mdl-menu__item {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

.drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}

.avatar-dropdown {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.navigation {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.layout .navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: white !important;
    font-weight: 500;
}

.navigation .mdl-navigation__link:hover {
    color: black !important;
}

.layout .navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: black !important;
}

.navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: white !important;
    margin-right: 32px;
}

.content {
    max-width: 1080px;
}

.charts {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.chart:nth-child(1) {
    color: #ACEC00;
}

.chart:nth-child(2) {
    color: #00BBD6;
}

.chart:nth-child(3) {
    color: #BA65C9;
}

.chart:nth-child(4) {
    color: #EF3C79;
}

.graphs {
    padding: 16px 32px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .graphs {
    min-height: 664px;
}

_:-ms-input-placeholder, :root .graph {
    max-height: 300px;
}
/* TODO end */
.graph:nth-child(1) {
    color: #00b9d8;
}

.graph:nth-child(2) {
    color: #d9006e;
}

.cards {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

    .cards .separator {
        height: 32px;
    }

    .cards .mdl-card__title.mdl-card__title {
        color: white;
        font-size: 24px;
        font-weight: 400;
    }

    .cards ul {
        padding: 0;
    }

    .cards h3 {
        font-size: 1em;
    }

.updates .mdl-card__title {
    min-height: 200px;
    background-image: url('images/dog.png');
    background-position: 90% 100%;
    background-repeat: no-repeat;
}

.cards .mdl-card__actions a {
    color: #00BCD4;
    text-decoration: none;
}

.options h3 {
    margin: 0;
}

.options .mdl-checkbox__box-outline {
    border-color: rgba(255, 255, 255, 0.89);
}

.options ul {
    margin: 0;
    list-style-type: none;
}

.options li {
    margin: 4px 0;
}

.options .material-icons {
    color: rgba(255, 255, 255, 0.89);
}

.options .mdl-card__actions {
    height: 64px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.text-center {
    text-align: center;
    margin: 0 auto;
}

.img-center {
    display: block;
    margin: 0 auto;
}