@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

<NavLink class="navigation mdl-navigation mdl-color--blue-grey-800" Match="NavLinkMatch.All">
    <a class="mdl-navigation__link" href="">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
            home
        </i>
        Home
    </a>
    <a class="mdl-navigation__link" href="dialog">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
            auto_awesome_motion
        </i>
        Dialog
    </a>
    <a class="mdl-navigation__link" href="toaster">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
            notification_important
        </i>
        Toaster
    </a>
    <a class="mdl-navigation__link" href="select">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
            list
        </i>
        Select
    </a>
    <a class="mdl-navigation__link" href="input">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
            mode_edit
        </i>
        Input
    </a>
    <a class="mdl-navigation__link" href="button">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
            arrow_circle_right
        </i>
        Button
    </a>
    <a class="mdl-navigation__link" href="link">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
            link
        </i>
        Link
    </a>

    <div style=" bottom: 0px; position: fixed;">
        <a class="mdl-navigation__link" style="width: 88%;" href="https://github.com/luizgustavo77/FTTBlazor">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
                code
            </i>
            GitHub
        </a>
    </div>
</NavLink>